<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.example.servlets.XMLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/xml</url-pattern>
	</servlet-mapping>
</web-app>
